<!-- 此处配置路由连接，此处需要添加斜杠，代表根路由 ./代表是子路由
     此处是link是数组，为了方便传递参数-->
<a [routerLink]="['/home']">主页</a>
<!-- 在路由传递过程中添加参数 -->
<a [routerLink]="['/product']" [queryParams]="{id:1}">商品详情</a>
<!-- 在连接中传递参数 -->
<a [routerLink]="['/product',1]">商品详情</a>
<!-- 路由配置时所需的插座（标记路由内容呈现位置的占位符指令） -->
<!-- angular 数据绑定第三种方式，事件绑定
    表示该方法由该事件进行控制-->
<input type="button" value="商品详情" (click)="toProductDetails()">
<!-- 辅助路由设置 primary 设置主路由的路径-->
<a [routerLink]="[{outlets:{primary:'home',aux:'chat'}}]">开始聊天</a>
<a [routerLink]="[{outlets:{aux:null}}]">结束聊天</a>
<router-outlet></router-outlet>
<!-- 辅助路由 -->
<router-outlet name="aux"></router-outlet>
